.search-box{
    -fx-background-color: #8b8b8b;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color:rgba(0,0,0,0);
}

.search-button{
    -fx-background-color:#1E1E1E ;
    -fx-background-radius: 30;
}

.right-bar-button{
    -fx-background-color:#005c5a;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #121212 ;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.searched-movie-card{
    -fx-background-color:#263F75 ;
    -fx-background-radius: 30;
}

.movie-card{
     -fx-background-color:#3f3f3f ;
    -fx-background-radius: 30;
}

.radio-button-bg {
    -fx-background-color: #3f3f3f;
    -fx-background-radius: 30;
}

.comboBox {
    -fx-background-color: #3f3f3f;
    -fx-background-radius: 30;
    -fx-font-family: "Cambria";
    -fx-font-size: 18px;
}

.radio-button-bg {
    -fx-background-color: #3f3f3f;
    -fx-background-radius: 30;
}

.combo-box .list-cell {
     -fx-text-fill: #FFFFFF;
     -fx-background-color: #3f3f3f;
     -fx-background-radius: 30;


}

.combo-box-popup .list-view {
    -fx-background-color: #3f3f3f;
     -fx-background-radius: 30;/* Dropdown background color */
}

.combo-box .list-view {
    -fx-background-color: #3f3f3f;
     -fx-background-radius: 30;/* Alternative dropdown background color */
}

.list-view .list-cell:filled:selected,
.list-view .list-cell:filled:hover {
    -fx-background-color: #005f8a; /* Highlight color */
    -fx-text-fill: #FFFFFF;
     -fx-background-radius: 30;/* Text color for selected item */
}


.table-view {
    -fx-background-color: #3f3f3f; /* Background color */
    -fx-text-fill: #FFFFFF;       /* Font color for text */
}

.table-view .column-header-background {
    -fx-background-color:  #3f3f3f; /* Header background */
}

.table-row-cell {
    -fx-text-fill: #444444;        /* Font color for rows */
}

.table-row-cell:odd {
    -fx-background-color: #e8e8e8; /* Alternating row background */
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #3f3f3f; /* Header row background color */
    -fx-text-fill: #ffffff;       /* Header text color */
}


